
@font-face {
    font-family: fontMain;
    src: url(./media/Krifon\ Regular\ \(1\).otf);
}
h1, h2, h3, h4, h5, h6{
    font-family: fontMain;
}

/* SETTING GENERALI */
:root{
    --primaryCustom:rgb(217, 212, 210);
    --blackCustom: rgb(33, 32, 38);
    --accent: rgb(112, 78, 57);
    --greyCustom: rgb(177, 175, 175);
}
/* COLORI TESTI CUSTOM */
.text-primaryCustom{
    color: var(--primaryCustom);
}
.text-blackCustom{
    color: var(--blackCustom);
}
.text-accent{
    color: var(--accent);
}
.text-greyCustom{
    color: var(--greyCustom);
}
/* BG CUSTOM */
bg-primaryCustom{
    background-color: var(--primaryCustom);
}
bg-Custom{
    background-color: var(--secondaryCustom);
}
bg-accent{
    background-color: var(--accent);
}
bg-greyCustom{
    background-color: var(--greyCustom);
}
/* BORDER CUSTOM */
.border-primary{
    border: 2px solid var(--primaryCustom)
}
.border-blackCustom{
    border: 2px solid var(--blackCustom)
}
.border-accent{
    border: 2px solid var(--accent)
}
.border-greyCustom{
    border: 2px solid var(--greyCustom)
}
/* INIZIO NAVBAR */
.logoNav{
    width: 70px;
}

.navbarCustom{
    background-color: transparent;
}
#fingerIcon{
    transition: 0.4s;
}
#mainNavbar{
    transition: 0.4s;
}

/* FINE NAVBAR */
/* HEADER */
.headerCustom{
    background-image: url(./media/header.png);
    background-size: cover;
    background-position: center;
}
.title{
    font-size: 150px;
    background-image: url(./media/sfondoh1.gif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(10px 10px 4px var(--blackCustom));
}
/* SEZIONE AOS */
.clothes{
    filter: drop-shadow(15px 10px 6px black);
}

/* SEZIONE FINE AOS */