
@font-face {
    font-family: fontMain;
    src: url(./media/Krifon\ Regular\ \(1\).otf);
}
h1, h2, h3, h4, h5, h6{
    font-family: fontMain;
}

/* SETTING GENERALI */
:root{
    --PrimaryCustom: rgb(217, 212, 210);
    --blackCustom: rgb(33, 32, 38);
    --accent: rgb(112, 78, 57);
    --greyCustom: rgb(177, 175, 175);
}
/* COLORI TESTI CUSTOM */
.text-PrimaryCustom{
    color: var(--PrimaryCustom);
}
.text-blackCustom{
    color: var(--blackCustom);
}
.text-accent{
    color: var(--accent);
}
.text-greyCustom{
    color: var(--greyCustom);
}
/* BG CUSTOM */
bg-PrimaryCustom{
    background-color: var(--PrimaryCustom);
}
bg-Custom{
    background-color: var(--secondaryCustom);
}
bg-accent{
    background-color: var(--accent);
}
bg-greyCustom{
    background-color: var(--greyCustom);
}
/* BORDER CUSTOM */
.border-Primary{
    border: 2px solid var(--PrimaryCustom)
}
.border-blackCustom{
    border: 2px solid var(--blackCustom)
}
.border-accent{
    border: 2px solid var(--accent)
}
.border-greyCustom{
    border: 2px solid var(--greyCustom)
}
/* INIZIO NAVBAR */
.logoNav{
    width: 70px;
}

.navbarCustom{
    background-color: transparent;
}
#fingerIcon{
    transition: 0.4s;
}
#mainNavbar{
    transition: 0.4s;
}

/* FINE NAVBAR */
/* HEADER */
.headerCustom{
    background-image: url(./media/header.png);
    background-size: cover;
    background-position: center;
    min-width: 100vw;
}
.title{
    font-size: 150px;
    background-image: url(./media/sfondoh1.gif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(10px 10px 4px var(--blackCustom));
}
/* SEZIONE AOS */
.clothes{
    filter: drop-shadow(15px 10px 6px black);
    width: 100%;
}

/* SEZIONE FINE AOS */
/* SEZIONE SWIPER */
.swiper{
    /* width: 600px; */
    height: 300px;
}
/* FINE SEZIONE SWIPER */
/* SWIPER */
.cardRec{
    height: 200px;
    width: 300px;
    border: 2px solid var(--accent);
    border-radius: 20px;

    background-color: var(--PrimaryCustom);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* FINE SWIPER */
/* SEZIONE MOUSE ENTER */
.colCustom{
    border: 3px solid var(--accent);
    color: var(--blackCustom);
    padding: 20px;
    border-radius: 20px;
    transition: 0.4s;
}
.colCustom:hover{
    border: 3px solid var(--accent);
    color: var(--blackCustom);
    padding: 20px;
    border-radius: 20px;
    scale: 1.2;
}
.h-custom{
    min-height: 300px;
    background-color: var(--PrimaryCustom);
}

/* FINE SEZIONE MOUSE ENTER */
/* FOOTER */
#logoFooter{
    width: 70px;
}

.footer{
    background-color: var(--PrimaryCustom);
}
/*FINE FOOTER */
/* ANNUNCI */
/* FINE ANNUNCI */

.announcement-card{
    min-height: 300px;
    width: 100%;
    border: 2px solid var(--accent);
    background-color: var(--PrimaryCustom);
    border-radius: 20px;
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card-head{
    min-height: 50px;
    text-align: center;

}
.imgCard{
    height: 150px;
    border-radius: 50%;
}